In [4]:
import pandas as pd
import numpy as nm
data = pd.read_csv('https://query.data.world/s/i4qhpwxwteprslnsmbn63o2jhrvgat')
data.head()
to_drop = ['113 Cause Name', 'Age-adjusted Death Rate']
data.drop(to_drop, inplace=True, axis = 1)
data.head()
#No need to set index

   Year              Cause Name       State  Deaths
0  2016  Unintentional injuries     Alabama    2755
1  2016  Unintentional injuries      Alaska     439
2  2016  Unintentional injuries     Arizona    4010
3  2016  Unintentional injuries    Arkansas    1604
4  2016  Unintentional injuries  California   13213

In [6]:
data.to_csv('Death_Causes_Modified.csv')

In [22]:
#Not implemented************
#state = data['State']
#US = state.str.contains('United States')
#US[:5]
#df['Place of Publication'] = nm.delete(data, nm.where(State, 'United States'), 0)
#Not implemented************

0    False
1    False
2    False
3    False
4    False
Name: State, dtype: bool

In [17]:
data.get_dtype_counts() #checking whether numeric or regular data is stored in each one, make sure int is stored in something we will total
#figure out how to calculate population 
#basic-Group by year, cause name, add up all of them then store it in a new population csv

int64     2
object    2
dtype: int64

In [16]:
data['Year'].value_counts() #shows we have equality for each diesease

2015    572
2007    572
2008    572
2016    572
2001    572
2009    572
2002    572
2010    572
2003    572
2011    572
2004    572
2012    572
2005    572
2013    572
2006    572
2014    572
1999    572
2000    572
Name: Year, dtype: int64

In [17]:
data['Cause Name'].value_counts()

Stroke                     936
All causes                 936
Heart disease              936
Alzheimer's disease        936
Kidney disease             936
CLRD                       936
Suicide                    936
Influenza and pneumonia    936
Cancer                     936
Diabetes                   936
Unintentional injuries     936
Name: Cause Name, dtype: int64

In [12]:
#Group the data so we can calculate the population totals, group it by year and cause name
#basic-Group by year, cause name, add up all of them then store it in a new population csv, population/2 should equal united states, as the united states is part of the states
data.groupby(['Year', 'Cause Name'])['Deaths'].sum()
#Since this has more than one column, it is returning a dataframe, not a series, a series is one column
grouped_data = data.groupby(['Year', 'Cause Name'])
grouped_data['Deaths'].sum().to_csv('Population_Totals')

In [29]:
data.groupby(['Year', 'Cause Name', 'State'])['Deaths'].sum()
#Test for Vikram's graphs

Year  Cause Name              State
1999  All causes              Alabama                  44806
                              Alaska                    2708
                              Arizona                  40050
                              Arkansas                 27925
                              California              229380
                              Colorado                 27114
                              Connecticut              29446
                              Delaware                  6666
                              District of Columbia      6076
                              Florida                 163224
                              Georgia                  62028
                              Hawaii                    8270
                              Idaho                     9579
                              Illinois                108436
                              Indiana                  55303
                              Iowa                     28411
                              Kansas                   24472
                              Kentucky                 39321
                              Louisiana                41238
                              Maine                    12261
                              Maryland                 43089
                              Massachusetts            55840
                              Michigan                 87232
                              Minnesota                38537
                              Mississippi              28185
                              Missouri                 55931
                              Montana                   8128
                              Nebraska                 15579
                              Nevada                   15082
                              New Hampshire             9537
                                                       ...
2016  Unintentional injuries  Michigan                  5313
                              Minnesota                 2697
                              Mississippi               1803
                              Missouri                  3625
                              Montana                    626
                              Nebraska                   772
                              Nevada                    1395
                              New Hampshire              924
                              New Jersey                3839
                              New Mexico                1487
                              New York                  7354
                              North Carolina            5476
                              North Dakota               371
                              Ohio                      7999
                              Oklahoma                  2592
                              Oregon                    2105
                              Pennsylvania              8410
                              Rhode Island               675
                              South Carolina            3012
                              South Dakota               505
                              Tennessee                 4238
                              Texas                    10536
                              United States           161374
                              Utah                      1211
                              Vermont                    372
                              Virginia                  3710
                              Washington                3221
                              West Virginia             1705
                              Wisconsin                 3575
                              Wyoming                    371
Name: Deaths, Length: 10296, dtype: int64

NameError: name 'data' is not defined